{%extends 'base.html'%}

{%block content%}

	<table class="table">
		<thead>
			<tr>
			<th scope="col">Placa</th>
			<th scope="col">Nombre</th>
			<th scope="col">Color</th>
			<th scope="col">Status</th>
			<th scope="col">Ubicación</th>
			<th scope="col">Usuario</th>
			<th scope="col">Acciones</th>			
			</tr>
		</thead>
		<tbody>

		{%for vehiculo in vehiculos_list%}

			<tr>
				<td>{{vehiculo.vehiculo.placa}}</td>
				<td>{{vehiculo.vehiculo.nombre}}</td>
				<td>{{vehiculo.vehiculo.color}}</td>
				<td>{{vehiculo.status}}</td>
				<td>{{vehiculo.ubicacion}}</td>
				<td>{{vehiculo.user}}</td>
				<td><a href="{%url 'vehiculos:vehiculo-detail' vehiculo.vehiculo.pk%}">Reservar</a></td>
			</tr>

		{%endfor%}

		</tbody>
	</table>

{%endblock content%}